/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 65%);
    --first-color-second: hsl(var(--hue-color), 69%, 65%);
    --first-color-alt: hsl(var(--hue-color), 55%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title, 
.section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
   max-width: 968px;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav_logo,
.nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav_logo:hover{
 color: var(--first-color);
}
.nav_toggle{
  font-size: 1.1rem;
  cursor: pointer;
}
.nav_toggle:hover{
  color: var(--first-color);
}
@media screen and (max-width: 767px){
  .nav_menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}
.nav_list{
  grid-template-columns: repeat(3,1fr);
  gap : 2rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover{
   color: var(--first-color);
}
.nav_icon{
  font-size: 1.2rem;
}
.nav_close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size:  1.5rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav_close:hover{
  color: var(--first-color-alt);
}

/* show menu */
.show-menu{
   bottom: 0;
}


/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home_container{
  gap: 1rem;
}

.home_content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home_social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}
.home_social-icon:hover{
  color: var(--first-color-alt);
}
.home_blob{
  width: 200px;
  fill: var(--first-color);
  
  
}

.home_blob:hover{
 
}

.home_blob-img{
   width: 200px;
}
.home_data{
  grid-column: 1/3;
}

.home_title{
  font-size: var(--big-font-size);
}
.home_subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_description{
  margin-bottom: var(--mb-2);
}

/*==================== Home scroll ====================*/

.home_scroll{
  
}

.home_scroll-button{
    color: var(--first-color);
    transition: .5s;
}

.home_scroll-button:hover{
  transform: translateY(.5rem);
}

.home_scroll-mouse{
     font-size: 2rem;
}
.home_scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}
.home_scroll-arrow{
  font-size: 1.5rem;
}

/*==================== BUTTONS ====================*/


.button{
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  box-shadow: inset 0 0 0 0 var(--first-color-alt);

}
.button:hover{
  
  background-color: var(--first-color-alt);

}
.button_icon{
  
  font-size: 1.25rem;
  margin: var(--mb-0-25);
  transition: .5s;
  
}
.button:hover .button_icon:hover{
  transform: translate(.25rem);
}


.button--flex{
  display: inline-flex;
  align-items: center;
  height: 50px;
}

/*==================== ABOUT ====================*/

.about_img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
   
}

.about_description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about_info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about_info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}


.about_info-name{
  font-size: var(--small-font-size);
}

.about_info-title,
.about_info-name{
  display: block;
  text-align: center;

}
.about_buttons{
  display: flex;
  justify-content: center;
}
.about_buttons:hover .button_icon:hover{
  transform: translateY(.25rem);
}

/*==================== SKILLS ====================*/

.skills_container{
  row-gap: 0;
}

.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;

}

.skills_icon,
.skills_arrow{
  font-size: 2rem;
  color: var(--first-color);

}

.skills_icon{
   margin-right: var(--mb-0-75);
}
.skills_title{
  font-size: var(--h3-font-size);
}
.skills_subtitle{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.skills_arrow{
  margin-left: auto;
  transition: .4s;

}

.skills_list{
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skill_title{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skill_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills_bar{
  background-color: var(--first-color-lighter);
}
.skills_percentage{
  display: block;
  background-color: var(--first-color);
}
/* ---------skill 1------------*/
.skills_html{
  width: 80%;
}
.skills_css{
  width: 75%;
}
.skills_bootstrap{
  width: 70%;
}
.skills_javascript{
  width: 70%;
}
.skills_react{
  width: 75%;
}
/* --------------skill 2----------------*/

.skills_java{
  width: 75%;
}
.skills_php{
  width: 70%;
}
.skills_node{
  width: 65%;
}
.skills_spring{
  width: 65%;
}

.skills_close .skills_list{
  height: 0;
  overflow: hidden;
}

.skills_open{
  height: max-content;
  margin-bottom: var(--mb-2-5);
}
.skills_open .skills_arrow{
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.qualification_button{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification_button:hover{
  color: var(--first-color);
}
.qualification_icon{
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom:var(--mb-1) ;
}

.qualification_calendar{
  font-size: var(--small-font-size);
  color: var(--text-color-light);


}

.qualification_rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 35%;
}
.qualification_line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px,-7px);
}

.qualification [data-content]{
  display: none;
}

.qualification_active[data-content]{
  display: block;
}
.qualification_button.qualification_active{
  color: var(--first-color);
}

/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/

.portfoli_container{
  overflow: initial;
}

.portfolio_content{
  padding: 0 5rem;

}

.portfolio_img{
  width: 200px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio_description{
  font-size: .84rem;
  margin-bottom: var(--mb-0-75);
}
.portfolio_button:hover .button_icon{
  transform: translate(.25rem);
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width : 350px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav_menu{
    padding: 2rem .25rem 4rem
  }
  .nav_list{
    column-gap: 0;
  }

  .home_content{
    grid-template-columns: .25fr 3fr;
  }
  .home_blob{
    width: 180px;
  }
  .skill_title{
    font-size: var(--normal-font-size);
  }
  .qualification_data{
    gap: .5rem;
  }

}

/* For medium devices */

@media screen and (min-width: 568px){
  .home_content{
      grid-template-columns: max-content 1fr 1fr;
  }
  .home_data{
    grid-column: initial;
  }
  .home_img{
    order : 1;
    justify-self: center;
  }
  .about_container,
  .skills_container,
  .contact_container,
  .footer_container{
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio_content{
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification_sections{
    display: grid;
    grid-template-columns: .5fr;
    justify-content: center;

  }


}

@media screen and (min-width: 768px) {

  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;

  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section_subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer_container{
    padding: 0 1rem;
  }
  .nav{
    height : calc( var(--header-height) + 1.5rem);
    column-gap: 1rem;
   
  }
  .nav_icon,
  .nav_close,
  .nav_toggle{
    display: none;
  }
  .nav_list{
    display: flex;
    column-gap: 2rem;
  }
  .nav_menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }
  .home_container{
    row-gap: 5rem;
  }
  .home_content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home_blob{
    width: 300px;
  }
  .home_scroll{
    display: block;
  }
  .home_scroll-button{
      margin-left: 3rem;
  }
  .about_container{
    column-gap: 5rem;
  }
  .about_img{
     width: 333px;
  }
  .about_description{
    text-align: initial;
  }
  .about_info{
    justify-content: space-between;
  }
  .about_buttons{
    justify-content: initial;
  }
  .qualification_tabs{
  }
  .qualification_button{
    margin: 0 var(--mb-1);
  }
  .qualification_section{
    grid-template-columns:  .5fr;
  }
  .portfolio_img{
    width: 220px;
  }
  .portfolio_content{
    align-items: center;
  }
  .project{
    text-align: initial;
  }
  .project_bg{
    background: none;
  }
  .project_container{
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap:3rem;

  }
  .project_data{
    padding-top: .8rem;
  }
  .footer_container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer_bg{
    padding: 3rem 0 3.5rem;
  }
  .footer_links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer_social{
    justify-self: flex-end;
  }
  .footer_copy{
    margin-top: 4.5rem;
  }

}


/* For large devices */

@media screen and (min-width: 1024px){
    .header ,
    .main,
    .footer_container{
      padding: 0;
    }

    .home_blob{
      width: 350px;
    }
    .home_social{
      transform: translateX(-6rem);
    }
    .portfoli_content{
      column-gap: 5rem;
    }
    
}